<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <request-character-encoding>UTF-8</request-character-encoding>
    <welcome-file-list>
        <welcome-file>_index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginVerificationServlet</servlet-name>
        <url-pattern>/LoginVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginVerificationServlet</servlet-name>
        <servlet-class>internshipProject.controller.LoginVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonLibraryServlet</servlet-name>
        <url-pattern>/CommonLibraryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommonLibraryServlet</servlet-name>
        <servlet-class>internshipProject.controller.CommonLibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoggingServlet</servlet-name>
        <url-pattern>/LoggingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoggingServlet</servlet-name>
        <servlet-class>internshipProject.controller.LoggingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>internshipProject.controller.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/MemberServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>internshipProject.controller.MemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>internshipProject.controller.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnouncementServlet</servlet-name>
        <url-pattern>/AnnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnnouncementServlet</servlet-name>
        <servlet-class>internshipProject.controller.AnnouncementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.internshipProject.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>internshipProject.controller.LogoutServlet</servlet-class>
    </servlet>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
